<include file="Common:head" /> 

<body class="body-bg">
	<div class="loader">
        <div class="loader-inner ball-pulse-rise">
          <div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>
    <div class="JszContent" style="display: none">
	<!-- <>顶部区域 -->
	<include file="Common:menu" />
	
	<!-- <>主体容器区域 -->
	<div class="container">
		<php>
            echo httpRequest("http://www.baidu.com");
        </php>
	</div>
	
	<!-- <>底部区域 -->
	<!-- <>底部区域 -->
	<include file="Common:foot" />
    </div>
    <script src="/Resourse/Home/js/app/about.js" type="text/javascript"></script>
</body>
</html>