<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
</head>

<form name="inputForm" id="inputForm" method="post" action="http://<?php echo $data->sub_url; ?>/zhfsubmitpay.php">
      <input type="hidden" name="sign"		  value="<?php echo $data->sign?>" />
			<input type="hidden" name="merchant_code" value="<?php echo $data->merchant_code?>" />
			<input type="hidden" name="bank_code"     value="<?php echo $data->bank_code?>"/>
			<input type="hidden" name="order_no"      value="<?php echo $data->order_no?>"/>
			<input type="hidden" name="order_amount"  value="<?php echo $data->order_amount?>"/>
			<input type="hidden" name="service_type"  value="<?php echo $data->service_type?>"/>
			<input type="hidden" name="input_charset" value="<?php echo $data->input_charset?>"/>
			<input type="hidden" name="notify_url"    value="<?php echo $data->notify_url?>">
			<input type="hidden" name="interface_version" value="<?php echo $data->interface_version?>"/>
			<input type="hidden" name="sign_type"     value="<?php echo $data->sign_type?>"/>
			<input type="hidden" name="order_time"    value="<?php echo $data->order_time?>"/>
			<input type="hidden" name="product_name"  value="<?php echo $data->product_name?>"/>
			<input Type="hidden" Name="client_ip"     value="<?php echo $data->client_ip?>"/>
			<input Type="hidden" Name="extend_param"  value="<?php echo $data->extend_param?>"/>
			<input Type="hidden" Name="extra_return_param" value="<?php echo $data->extra_return_param?>"/>
			<input Type="hidden" Name="pay_type"  value="<?php echo $data->pay_type?>"/>
			<input Type="hidden" Name="product_code"  value="<?php echo $data->product_code?>"/>
			<input Type="hidden" Name="product_desc"  value="<?php echo $data->product_desc?>"/>
			<input Type="hidden" Name="product_num"   value="<?php echo $data->product_num?>"/>
			<input Type="hidden" Name="return_url"    value="<?php echo $data->return_url?>"/>
			<input Type="hidden" Name="show_url"      value="<?php echo $data->show_url?>"/>
			<input Type="hidden" Name="redo_flag"     value="<?php echo $data->redo_flag?>"/>
</form>
<script type="text/javascript">
		document.forms['inputForm'].submit();
</script>
</body></html>
