<include file="Common:head" />
<link rel="stylesheet" href="/Resourse/Home/js/plugins/datepicker/datepicker.css" />
<body class="body-bg">
    <div class="loader">
        <div class="loader-inner ball-pulse-rise">
          <div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>
    <div class="JszContent" style="display: none">
	<!-- <>顶部区域 -->
	<include file="Common:menu" />
	
	<!-- <>主体容器区域 -->
	<div class="container">
		<div class="mid pb--50 clearfix">
			<!-- 代理管理(存取款记录) -->
			<include file="Common::memberMenu" />
			
			<div class="pM__panel mt--10">
				<div class="proxyM__panel-tabLink">
					<div class="head__nav clearfix">
						<include file="Common::teamMemberMenu" />
					</div>
					<div class="panel-lkList" id="list">
                        <form class="layui-form" action="">
                            <div class="layui-form-item">
                                <blockquote class="layui-elem-quote layui-quote-nm">未结算盈亏:{$yk}元</blockquote>
                            </div>
                            <div class="layui-form-item">
                                <blockquote class="layui-elem-quote layui-quote-nm">当前分红金额:{$hl}元</blockquote>
                            </div>
                            <div class="layui-form-item">
                                <blockquote class="layui-elem-quote layui-quote-nm">当前分红开始时间:{$starttime}</blockquote>
                            </div>
                            <div class="layui-form-item">
                                <blockquote class="layui-elem-quote layui-quote-nm">当前分红截止时间:{$endtime}</blockquote>
                            </div>
                            <div class="layui-form-item">
                                <blockquote class="layui-elem-quote layui-quote-nm">已结算盈亏:{$yjyk}元</blockquote>
                            </div>
                            <div class="layui-form-item">
                                <blockquote class="layui-elem-quote layui-quote-nm">已分红总计:{$yjhl}元</blockquote>
                            </div>
                            <div class="layui-form-item">
                                <blockquote class="layui-elem-quote layui-quote-nm">已结算次数:{$count}元</blockquote>
                            </div>
                            <if condition="$button eq true">
                            <div class="layui-form-item">
                                <div class="layui-input-block" style="margin-left:600px">
                                    <button class="layui-btn" lay-submit="" type="button" data-method="apply">领取分红</button>
                                </div>
                            </div>
                            </if>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <>底部区域 -->
	<include file="Common:foot" /> 
    <script src="/Resourse/Home/js/app/dividend.js" type="text/javascript"></script>
    </div>
</body>
</html>