<include file="Common:head" />
<body class="body-bg">
	<div class="loader">
        <div class="loader-inner ball-pulse-rise">
          <div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>
    <div class="JszContent" style="display: none">
	<!-- <>顶部区域 -->
	<include file="Common:menu" />
	
	<!-- <>主体容器区域 -->
	<div class="container">
		<div class="mid clearfix">
			<!-- 优惠活动详情页 -->
			<div class="pg__discountActivity-detail mt--20 pb--50 clearfix">
				<div class="head"><h3 class="fs18">历程详情</h3></div>
				<div class="main mt--10 clearfix">
					<h2 class="align-l fs24">点燃璀璨人生 为您信用添彩——“金手指”品牌风采之信用认证篇</h2>
					<p class="align-l fs14 c--999 mt--10">2017-02-01</p>
					
					<div class="activity-rules mt--30">
						<p>一支在少女大腿上卷成的古巴Trinidad雪茄，入口时那一丝陶然的沉醉，与一杯62年的Macallan威士忌最般配；一位来自欧洲繁华都市的美女荷官，弯腰发牌时那一身柔美的曲线，与沉淀了人生智慧的您最般配。在“金手指”在线博彩娱乐网站，精彩的牌局日日不断，绝伦的表演夜夜笙歌，为尊贵的您带来24小时不间断的欢乐。</p>
						<!--<p><img class="max-img" src="/Resourse/Home/images/placeholder/history-detail-img.jpg" /></p>-->
						<p>相信看到这里，尊贵的您已经对“金手指”提供的精彩娱乐项目跃跃欲试了吧。那么就请您尽情放心地享受人生极乐，因为，为这一切奠定信用基础的，是我们与蚂蚁金服旗下独立的第三方征信机构——芝麻信用的深度合作。“金手指”是业内第一家具有BAT血统的博彩平台。BAT中的A，代表了蚂蚁金服的母公司阿里巴巴，而“金手指”不惜重金，聘请了前阿里巴巴的众多核心成员。可以说，我们是博彩业中最懂中国本土电子交易和信用服务的平台。</p>
						<p><strong>芝麻信用安全保证</strong></p>
						<p>“金手指”严格遵守并在芝麻信用方面的安全条例下管理所有用户的芝麻信用情况。只有经过用户本人授权，才能获取并且仅能获取到用户的芝麻信用分值，对用户其他所有个人具体信用信息和隐私，一概无法接触到。在阿里巴巴的芝麻信用体系下，用户对自己的信用信息隐私安全，可以做到绝对的放心。</p>
						<p><strong>芝麻信用评分接入</strong></p>
						
						<p>“金手指”在线平台上，提供简单方便的芝麻信用授权查询入口，只需要简单输入查询所需信息，经过您本人的授权同意，短短5秒钟就可以将您的芝麻信用分录入到您的个人账户中。查询授权过程中录入的所有信息，我们都按照“金手指”BAT级别的安全机制，为您做到绝对隐私保护（详情另见《安全无忧篇》）。</p>
						<p><strong>芝麻信用尽享尊贵</strong></p>
						<p>“金手指”为授权我们获取芝麻信用分的尊贵用户，提供更加贴心周到的服务、更精彩的活动和更丰厚的福利。为什么我们敢于这样大手笔地让利呢，这与尊贵的您对“金手指”的信任是密不可分的：芝麻信用的授权，代表了您愿意与“金手指”一道，打造最具信用、诚信、安全的，真正互惠互利的在线博彩平台。信任是相互的，您信任“金手指”，“金手指”也愿意信任您，芝麻信用代表了您的可靠身份和稳定的经济能力，您必是人人称道的成功人士，您这样的朋友，“金手指”交了！</p>
						
						<p><strong>芝麻信用重重惊喜</strong></p>
						<p>“金手指”面向所有新老用户，全面推出登记芝麻信用分，送大额礼金的活动。同时，也承诺会不定期举行更多面向芝麻信用分的返利、抽奖等等活动，对于拥有高评分的尊贵用户，我们愿意提供低门槛甚至零门槛的精彩活动，做到极致的让利。“金手指”希望所有的用户，在我们平台，可以抛却一切尘世烦忧，专注享乐。</p>

						<p>总投资超过8千万美金，“金手指”主营实体赌场贵宾厅和线上博彩业务。本公司集团在澳门与菲律宾的多家赌场都持有股份并经营贵宾厅业务，其中包括目前菲律宾规模最大最奢华的顶级赌场Solaire，以及澳门银河、凯旋门都有深度合作。线上博彩业务总部于2010年设立于菲律宾博彩特区第一卡加延，多年以来一直致力于打造极致的安全博彩服务环境。今时今日，良辰美景，我们备好了香槟雪茄，召集了窈窕荷官，一切就绪，超豪华线上博彩游轮扬帆再启航，诚邀您登船享乐，点燃璀璨人生！</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- <>底部区域 -->
	<include file="Common:foot" />
    </div>
    <script src="/Resourse/Home/js/app/brand.js" type="text/javascript"></script>
</body>
</html>