<include file="Common:head" />
<body class="body-bg">
	<div class="loader">
        <div class="loader-inner ball-pulse-rise">
          <div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>
    <div class="JszContent" style="display: none">
	<!-- <>顶部区域 -->
	<include file="Common:menu" />
	
	<!-- <>轮播图区域 -->
	<div class="zone__idx-slider js_idxSlider zone__slider-electronicGames mid mt--10">
		<div class="slider-inner">
			<ul class="slider-list">
				<li style="background-image: url(/Resourse/Home/images/placeholder/brand-banner-img01-1200x370.jpg);" data-slogan="金手指赞助勒沃库森 2016/17 赛季，9 月 29 日 - 10 月 4 日携手网站会员畅游德荷两国。会员和家人共同体验了欧式浪漫风情，尊享贵宾奢华待遇，欣赏如诗如画般的风景、观看精彩刺激的球赛。最终勒沃库森 2:0 胜多特蒙德划上完美句点"></li>
				<li style="background-image: url(/Resourse/Home/images/placeholder/brand-banner-img02-1200x370.jpg);" data-slogan="红军利物浦Liverpool于本赛季05月 22 日 - 06月 4 日给您带来视觉盛宴，红军利物浦Liverpool于本赛季05月 22 日 - 06月 4 日给您带来视觉盛宴红军利物浦Liverpool于本赛季05月 22 日 - 06月 4 日给您带来视觉盛宴"></li>
			</ul>
			<div class="slider-nav hide">
				<i></i><i></i>
			</div>
			<div class="slider-ctlbtn">
				<a class="js-btn-prev"></a>
				<a class="js-btn-next"></a>
			</div>
			<div class="slider-slogan"></div>
		</div>
	</div> <!-- END.zone-idx-slider -->
	
	<!-- <>主体容器区域 -->
	<div class="container">
		<div class="mid clearfix">
			<!-- 品牌历程列表 -->
			<div class="pg__brandHistory-list mt--20 pb--60 clearfix">
				<div class="head"><h3 class="fs18">金手指品牌历程</h3></div>
				<div class="main clearfix mt--10">
					<!-- //侧边 -->
					<div class="sidebar fl" id="J__sidebar">
						<a class="on current" href="javascript:void(0)">2017年大事记<i></i></a>
					</div>
					<!-- //列表 -->
					<div class="brandHistory_list fr">
						<ul class="clearfix">
							<li>
								<div class="aimg fl">
									<a href="/brandDetail"><img src="/Resourse/Home/images/placeholder/history-img01.jpg" height="200" width="350" /></a>
								</div>
								<div class="rt-info clearfix">
									<h2 class="title"><a href="/brandDetail/type/1">点燃璀璨人生 为您鸿运护航</a></h2>
									<label class="time db ff-hv">2017年2月01日</label>
									<a class="btn_view bg__f5f5f5-hover" href="/brandDetail/type/1">了解详情</a>
								</div>
							</li>
							<li>
								<div class="aimg fl">
									<a href="/brandDetail"><img src="/Resourse/Home/images/placeholder/history-img02.jpg" height="200" width="350" /></a>
								</div>
								<div class="rt-info clearfix">
									<h2 class="title"><a href="/brandDetail/type/2">点燃璀璨人生 为您信用添彩</a></h2>
									<label class="time db ff-hv">2017年2月01日</label>
									<a class="btn_view bg__f5f5f5-hover" href="/brandDetail/type/2">了解详情</a>
								</div>
							</li>
						</ul>
						
						<!-- <>分页.pagination -->
						<!--<div class="zone-g-pagination mt--20 pb--50 clearfix">
							<div class="pagination-inner">
								<div class="p-body">
									<a href="#" title="上一页">上一页</a>
									<a href="#">4</a>
									<a href="#">5</a>
									<a href="#">6</a>
									<span class="selected">7</span>
									<a href="#">8</a>
									<a href="#">9</a>
									<span class="dotted">...</span>
									<a href="#">200</a>
									<a href="#" title="下一页">下一页</a>
								</div>
								<div class="p-info dib">
									7/200页，到第 <input class="ipt-text" type="text" /> 页 <a class="btn-go bg__f5f5f5-hover transit" href="javascript:;">确定</a>
								</div>
							</div>
						</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- <>底部区域 -->
	<include file="Common:foot" />
    </div>
    <script src="/Resourse/Home/js/app/brand.js" type="text/javascript"></script>
</body>
</html>