<include file="Common:head" /> 
<body class="body-bg">
	<div class="loader">
        <div class="loader-inner ball-pulse-rise">
          <div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>
    <div class="JszContent" style="display: none">
	<!-- <>顶部区域 -->
	<include file="Common:menu" />
	
	<!-- <>主体容器区域 -->
	<div class="container">
		<div class="mid clearfix">
			<!-- 关于我们 -->
			<div class="pg__brandHistory-list mt--30 pb--60 clearfix">
				<div class="main clearfix mt--10">
					<!-- //侧边 -->
					<div class="sidebar fl" id="J__sidebar">
                        <a <if condition="$menu eq 'about'">class="on current"</if> href="/about">关于我们<i></i></a>
                        <a <if condition="$menu eq 'contact'">class="on current"</if>  href="/contact">联系我们<i></i></a>
                        <a <if condition="$menu eq 'betting'">class="on current"</if>  href="/betting">博彩责任<i></i></a>
                        <a <if condition="$menu eq 'privacy'">class="on current"</if>  href="/privacy">隐私安全<i></i></a>
                        <a <if condition="$menu eq 'disclaimer'">class="on current"</if>  href="/disclaimer">免责声明<i></i></a>
                    </div>
					<!-- //列表 -->
					<div class="brandHistory_list fr">
						<div class="pg__others-panel">
							<h3>为了使您提供给我们的所有信息都能得到机密保障，我们采用下述关于保护隐私权的政策：</h3>
							<p>1、我们所收集的信息，仅限于那些我们认为对我们开展业务所必需的相关资料。</p>
							<p>2、我们使用您的相关信息，目的在于能为您提供更优质的客户服务和产品服务。</p>
							<p>3、除非征得您的同意、或已事先通知您，我们不会向任何外部机构披露您的信息。</p>
							<p>4、我们设有严格的安全系统，以防止未经授权的任何人、包括我们的职员获取您的信息。</p>
							<p>5、所有我们的员工和任何第三方，在得到许可获取您的个人信息时，都被要求严格遵守我们的保密责任。</p>
							
							<h2 class="tit">账号资金安全</h2>
							<p>“金手指” 以提供玩家最安全的游戏环境为己任，我们非常重视游戏的公正性与安全性，采用最新的加密技术 RSA（Rivest Shamir Ad1eman）非对称加密算法，由 CA（GlobalSign）证书签发机构签发，于 PKI（Public Key Infrastructure）密钥管理平台上使用，确保玩家资料安全。玩家的资金均存放在独立账户中，保障您的资金安全。</p>
							<p>您对 “金手指” 的访问会被记录下来，用于分析访问者的数量以及其它普通的用途。关于您访问的部分信息是通过使用 cookies 收集到的。Cookies 是一些自动存储在访问者端计算机浏览器中的少量信息，这些信息可以被本网站跟踪。在非个人信息与个人信息合并在一起的情况下，我们将合并后的信息视为个人信息。如您希望取消 cookies，您只需更改您的浏览器的设置。</p>
							<p>精英客服团队：“金手指” 客服均经过严格的筛选及专业的培训，用心打造精英客服团队为玩家提供优质的服务质量。全天候 24 小时为您提供专业、贴心的 VIP 服务，让您有宾至如归的感觉。</p>
							
							<h2 class="tit">删除方法</h2>
							<p>IE6 浏览器：在 IE 菜单中，选【工具】->【Internet 选项】-> 【常规】 -> 点击删除 Cookies 后，点击确定</p>
							<p>IE7 浏览器：在 IE 菜单中，选【工具】->【Internet 选项】-> 【常规】 -> 点击浏览历史记录中的删除按键。在弹出窗口中，勾选 Cookie 选项，点击删除按键后，确定设置完毕。</p>
							<p>IE8 浏览器：在 IE 菜单中，选【工具】->【Internet 选项】-> 【常规】 -> 点击浏览历史记录中的删除按键。在弹出窗口中，勾选 Cookie 选项，点击删除按键后，确定设置完毕。</p>
							<p>360 浏览器：点击浏览器上方菜单栏，选【工具】->【清除浏览记录】。在弹出窗口中，勾选 Cookie，点击立即清理，即可完成设置。</p>
							<p>Firefox 浏览器：在菜单中，选【工具】->【选项】，弹出的选项对话框中，选择 [隐私]- 选 [记录历史]->[删除私人 cookie]。在弹出窗口中点选 [移除所有 Cookie] 后，关闭弹出窗口，返回选项对话框，确定后即可完成设置。</p>
							<p>Opera 浏览器：在菜单中，选【工具】->【首选项】 ，在首选项对话框中，选择 [高级]->[Cookie]->[管理 Cookie]。在弹出窗口中，点选相应的网址，选择 [删除] 后，即可完成设置。</p>
							<p>遨游浏览器：在菜单栏中，选【工具】->【Internet 选项】，在打开的 Internet 选项设置窗口里，顶部导航栏，点击第一个 "常规"。 （以下步骤
							可根据自身计算机 IE 浏览器的版本，参看 IE6.0、IE7.0、IE8.0 的设置步骤）为提高账号信息安全，在公共计算机游戏后，请务必清除缓存！</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- <>底部区域 -->
	<!-- <>底部区域 -->
	<include file="Common:foot" />
    </div>
    <script src="/Resourse/Home/js/app/about.js" type="text/javascript"></script>
</body>
</html>