<include file="Common:head" /> 
<body class="body-bg">
	<div class="loader">
        <div class="loader-inner ball-pulse-rise">
          <div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>
    <div class="JszContent" style="display: none">
	<!-- <>顶部区域 -->
	<include file="Common:menu" />
	
	<!-- <>主体容器区域 -->
	<div class="container">
		<div class="mid clearfix">
			<!-- 关于我们 -->
			<div class="pg__brandHistory-list mt--30 pb--60 clearfix">
				<div class="main clearfix mt--10">
					<!-- //侧边 -->
					<div class="sidebar fl" id="J__sidebar">
                        <a <if condition="$menu eq 'about'">class="on current"</if> href="/about">关于我们<i></i></a>
                        <a <if condition="$menu eq 'contact'">class="on current"</if>  href="/contact">联系我们<i></i></a>
                        <a <if condition="$menu eq 'betting'">class="on current"</if>  href="/betting">博彩责任<i></i></a>
                        <a <if condition="$menu eq 'privacy'">class="on current"</if>  href="/privacy">隐私安全<i></i></a>
                        <a <if condition="$menu eq 'disclaimer'">class="on current"</if>  href="/disclaimer">免责声明<i></i></a>
                    </div>
					<!-- //列表 -->
					<div class="brandHistory_list fr">
						<div class="pg__others-panel">
							<style type="text/css">
								.pg__others-panel p{margin-bottom: 7px;}
							</style>
							<h2 class="tit">赌博是一种娱乐</h2>
							<p>赌博是一种娱乐，大多数人都可以享受赌博的乐趣而不会导致不良后果。但是，就如一些人会对酒精和香烟上瘾，有些人则会对赌博上瘾。虽然据研究只有百分之一的成年人有这个问题，但对于我们，一个强逼性的赌徒也嫌太多。我们无法预计谁会有这种倾向, 但当赌博问题一旦被发现，它将可被成功的治愈。</p>
							
							<h3 class="mt--30">金手指” 主张责任博彩。虽然强逼性的赌博不容易被发现，我们实施了一些措施来处理这个问题</h3>
							<p>1、“金手指” 的训练课程，包含了辨认和对付强逼性赌博及未成年赌博的方法和技巧。</p>
							<p>2、我们为那些需要援助的人推出了一个自我逐出计划。在您的要求之下，我们会取消您的会员籍，同时不让您进入我们的赌场。</p>
							<p>3、我们让您自设最高存款额。</p>
							<p>4、在您的要求之下，我们会把您的名字从我们的电子邮件名单中除去。</p>
							
							<h3 class="mt--30">为了您在访问我们的赌场时，能有一个愉快的体验，我们建议您遵循以下一些基本原则</h3>
							<p>• 确定赌博是您个人的决定。</p>
							<p>• 在赌博之前，弄清楚您所能承受的合理损失。</p>
							<p>• 在以下情形下，千万不要赌博：</p>
							<p>1、您小于法定的赌博年龄。</p>
							<p>2、赌博影响到您的工作或其他责任。</p>
							<p>3、您正处于成瘾性失调或依赖的恢复期。</p>
							<p>4、您受酒精或其他物品的影响。</p>
							<p>5、您企图弥补以前赌博的损失。要知道如何设置限制和如何适可而止。就像许多其他事情一样：如果适度，是一种享受；如果过度，则会成为
							灾难。如果赌博不是您想做的、而是您需要做的事；或您怀疑自己有赌博困难，请单击这里阅读更多数据或向以下组织寻求专业援助：
							http://www.gamblingtherapy.org http://ncpgambling.org 赌场赌博是少年人中较不流行的赌博方式。依照菲律宾 (“金手指” 领取执照的地点) 
							法律，未满 21 岁的人士将不能参与赌博活动。我们的赌场不是为吸引儿童而设计的，我们强烈反对和追踪尝试到我们赌场玩的少年人。未成年赌
							博不是无害的活动。它可以由成年人带孩子到赌场或送奖券开始。</p>
							
							<p class="mt--30">• 如果您的计算机装有到赌场的软件，我们鼓励您：装置保护儿童的软件。</p>
							<p>• 当您的赌场软件在开动时，请不要在没有监管下，把孩子留在计算机旁边。</p>
							<p>• 用密码保护您的赌场程序。</p>
							<p>• 不允许未满岁 21 岁的人参与赌博活动。</p>
							<p>• 把您的 “金手指” 用户名、密码和信用卡放在孩子拿不到的地方。</p>
							<p>• 教育您的孩子关于未成年赌博的合法性和潜在的损害。可是，任何系统都有漏洞，有些年轻人还是能逃过侦察。</p>
							<p>• 如果您知道任何未满 21 岁的人在 “金手指” 注册，请立刻通知我们的安全部门：cs@jsz777.com </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- <>底部区域 -->
	<include file="Common:foot" />
    </div>
    <script src="/Resourse/Home/js/app/about.js" type="text/javascript"></script>
</body>
</html>